<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
</head>
<body>
    <h2>Registracija</h2>
    <form method="post" action="/signup">
        <input type="text" name="username" placeholder="Korisničko ime" required><br>
        <input type="password" name="password" placeholder="Lozinka" required><br>
        <input type="submit" value="Registracija">
    </form>
</body>
</html>
